<md-input-container class="md-block">
    <label>Filter</label>
    <input ng-model="filter" type="text">
</md-input-container>
<md-content  layout-align="left" >
		<md-list  >
		  <md-list-item ng-repeat="record in records | filter: { fields: { title: filter } }" >
		    <div class="md-list-item" ng-click="showRecord(record.fields.id)">
		      <h3>{{record.fields.title}}</h3>
		      <p>{{record.fields.description}}</p>
		    </div>
		    <md-divider></md-divider>
		  </md-list-item>
		</md-list>
</md-content>
