<div id="userLogin">
  
    <hgroup>
      <div class="logo">
        <h1>User Login</h1>
      </div>
    </hgroup>


  <form name="loginForm" ="loginForm">
    <div class="group">
      <input type="text" name="username" ng-required="true"  ng-model="username"><span class="highlight"></span><span class="bar"></span>
      <label  class="loginFrm">Username</label>
      <div ng-messages="loginForm.username.$error" ng-if="submitted || loginForm.username.$touched">
          <div  class="requiredMsg" ng-message="required">Username is required.</div>
        </div>
    </div>
    <div class="group">
      <input type="password" name="password"  ng-required="true" ng-model="password"><span class="highlight"></span><span class="bar"></span>
      <label class="loginFrm">Password</label>
        <div ng-messages="loginForm.password.$error"  ng-if="submitted || loginForm.password.$touched">
          <div class="requiredMsg" ng-message="required">Password is required.</div>
        </div>
    </div>
    <button type="button" class="button buttonBlue" ng-click="doLogin()">Login
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
  </form>
  <div class="version">
    Version: {{versionNumber}}-{{env}}
  </div>
</div>